
.amazon-header {
  background-color: white;
  color: #4f9e30;
  padding: 5px 15px 4px 15px;
  
  
   border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  justify-content: space-between;
   height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.amazon-header-left-section {
  /* margin-top: 5px; */
  max-height: 95%;
  width: 250px;
}

@media (max-width: 800px) {
  .amazon-header-left-section {
    width: unset;
  }
}

.header-link {
  display: flex;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid #4f9e30;
}

.amazon-logo {
  max-width: 55px;
  /* margin-top: 5px; */
}
.logoImageContainer{
  color: #4f9e30;
  font-weight:bolder;
  font-size: 25px;
  width: 100%;
  display: flex;
  max-height: 60px;
  gap :10px;
  align-items: center;
}
.logoText{
 /* padding-top: -12px; */
}

.amazon-mobile-logo {
  display: none;
}

@media (max-width: 575px) {
  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.amazon-header-middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  border:  2px solid #4f9e30;
  
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  
  
}

.search-button {
  background-color: #4f9e30;
  border: none;
  width: 45px;
  height: 40px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.amazon-header-right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.orders-link {
  color: black;
}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  color: black;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  max-width: 45px;
  font-size: 30px;
  color:#4f9e30;

}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: black;
  font-size: 16px;
  font-weight: 700;
 z-index: 2;
  position: absolute;
  top: 4px;
  left: 11px;
  
  width: 26px;
  text-align: center;
}
